<!-- 3.5. CTA-Kit “General Contact / Test Drive” -->
<div class="cta-kit-test-drive">
  <div class="header-area">
    <img *ngIf="element.image" [assetPath]="element.image.source" alt="{{element.image.altText}}"
         title="{{element.image.title}}"/>

    <div class="header-text">
      <div *ngIf="element.imageHintAboveHtml" class="call-us-line" [innerHtml]="element.imageHintAboveHtml"></div>
      <a *ngIf="element.phoneNumber" href="'tel:'{{element.phoneNumber}}" class="phone-group">
        <div class="phone-icon"></div>
        <div class="phone-number-line">{{element.phoneNumber}}</div>
      </a>

      <div *ngIf="element.imageHintUnderPhoneHtml" class="free-consulting-line"
           [innerHtml]="element.imageHintUnderPhoneHtml"></div>
    </div>
  </div>

  <div class="content-area">
    <form *ngIf="currentStep > 0" class="form">
      <div *ngIf="currentStep == 1" class="pane" data-pane="basic-info">
        <div *ngIf="element.counterStepOne" class="step-bar floated">
          {{element.counterStepOne}}
        </div>

        <h3 *ngIf="element.headlineStepOne" class="headline" [innerHtml]="element.headlineStepOne"></h3>

        <div *ngIf="element.counterStepOne" class="step-bar block">
          {{element.counterStepOne}}
        </div>

        <p *ngIf="element.textStepOneHtml" class="copy" [innerHtml]="element.textStepOneHtml"></p>

        <!-- generischer Ansatz -->
        <div *ngFor="let nextField of getFieldsOfPage(element.inputFieldList, currentStep)" class="row">
          <ucp-input-field *ngIf="nextField.page == currentStep" [field]="nextField" [parentForm]="generalContactForm"
                           [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
        </div>

        <div *ngIf="element.hintTextHtml" class="info-txt" [innerHtml]="element.hintTextHtml">
        </div>

        <button *ngIf="element.buttonText" class="button" type="button" (click)="onButtonNextClicked()">
          {{element.buttonText}}
        </button>
      </div>

      <div *ngIf="currentStep == 2" class="pane" data-pane="opt-in">
        <div *ngIf="element.counterStepTwo" class="step-bar floated">
          {{element.counterStepTwo}}
        </div>

        <h3 class="headline" [innerHtml]="element.headlineStepTwo"></h3>

        <div *ngIf="element.counterStepTwo" class="step-bar block">
          {{element.counterStepTwo}}
        </div>

        <p *ngIf="element.textStepTwoHtml" class="copy" [innerHtml]="element.textStepTwoHtml"></p>

        <!-- generischer Ansatz -->
        <ng-container *ngFor="let nextField of element.inputFieldList">
          <div *ngIf="nextField.page == currentStep" class="row"
               [ngClass]="{'selectbox': nextField.type == 'select'}">
            <ucp-input-field [field]="nextField" [parentForm]="generalContactForm"
                             [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
          </div>
        </ng-container>

        <div *ngIf="message" class="error-message">{{message}}</div>

        <button *ngIf="element.buttonText" class="button" type="button" (click)="onButtonOrderClicked()">
          {{element.buttonText}}
        </button>
      </div>
    </form>

    <div *ngIf="currentStep == 3" class="pane" data-pane="final">
      <h3 *ngIf="element.confirmationHeadline" class="headline" [innerHtml]="element.confirmationHeadline"></h3>

      <p *ngIf="element.stepConfirmationTextHtml" class="copy" [innerHtml]="element.stepConfirmationTextHtml"></p>

      <!-- Linklist module without text & headline -->
      <div *ngIf="element.linkList" class="linklist">
        <ul>
          <li *ngFor="let link of element.linkList">
            <include-components [elements]="link"></include-components>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
