<!-- 06_06 Image- or Video- Text Teaser -->
<div class="media-teaser">
  <p *ngIf="element.headlineHtml" class="headline" [innerHTML]="element.headlineHtml"></p>

  <div class="content-area">
    <div class="media-area">
      <include-components *ngIf="element.videoOrImage.className == 'video' " class="image" [elements]="element.videoOrImage"></include-components>
      <img *ucpIsset="element.videoOrImage.image" [assetPath]="element.videoOrImage.image.source" alt="{{element.videoOrImage.image.altText}}"
           title="{{element.videoOrImage.image.title}}"/>
    </div>

    <div class="text-area">
      <p *ngIf="element.subheadlineHtml" class="subhead" [innerHTML]="element.subheadlineHtml"></p>

      <p *ngIf="element.textHtml" class="text" [innerHTML]="element.textHtml"></p>
      <include-components *ucpIsset="element.link" [elements]="element.link" class="more"></include-components>
    </div>


    <div class="cta">
      <include-components *ucpIsset="element.button" [elements]="element.button" class="button"></include-components>
    </div>
    <img *ngIf="element.showBadge && element.badge" class="badge" [assetPath]="element.badge"/>

  </div>

</div>
