<div class="media-center-element">
  <div class="image">
    <figure>
      <a href="lightbox-imagegallery.html?image=0">
        <img *ngIf="element.image && !element.imageLang" alt="{{element.title}}" [assetPath]="element.image">
        <img *ngIf="element.imageLang" alt="{{element.title}}" [assetPath]="element.imageLang">
      </a>
    </figure>
  </div>

  <div class="caption">
    <p class="title">{{element.title}}</p>
    <ul class="download-links">
      <li *ngIf="element.img300dpi || element.img300dpiLang">
        <a *ngIf="element.img300dpi && !element.img300dpiLang" target="_blank" class="icon-download"
           [assetPath]="element.img300dpi">
          300 dpi
        </a>
        <a *ngIf="element.img300dpiLang" target="_blank" class="icon-download" [assetPath]="element.img300dpiLang">
          300 dpi
        </a>
      </li>
      <li>
        <a *ngIf="element.image && !element.imageLang" target="_blank" class="icon-download" [assetPath]="element.image">
          72 dpi
        </a>
        <a *ngIf="element.imageLang" target="_blank" class="icon-download" [assetPath]="element.imageLang">
          72 dpi
        </a>
      </li>
    </ul>
  </div>
</div>

