<!-- 01.07 Event Teaser -->
<div class="eventteaser">
  <p class="headline" *ngIf="element.headlineHtml" [innerHtml]="element.headlineHtml"></p>

  <!--Direct Editorial Content-->
  <div *ngIf="!element.loadEventsFromDatasource">
    <ul *ngIf="element.eventList">
      <li *ngFor="let teaser of element.eventList">
        <include-components [elements]="teaser"></include-components>
      </li>
    </ul>
  </div>

  <!--Datasource Visualization-->
  <div *ngIf="element.loadEventsFromDatasource">
    <ul *ngIf="eventTeaserList">
      <li *ngFor="let teaser of eventTeaserList">
        <include-components [elements]="teaser"></include-components>
      </li>
    </ul>
  </div>

  <include-components class="more" [elements]="element.link"></include-components>
</div>
