<!-- 01.09 Figure Teaser -->
<div [ngClass]="{'figureteaser': !element.horizontal, 'numberteaser big': element.horizontal}">
  <p class="headline" *ngIf="element.headlineHtml" [innerHtml]="element.headlineHtml"></p>
  <ul *ngIf="element.teaserList">
    <li *ngFor="let teaser of element.teaserList">
      <div class="number-holder">
        <p class="zahl" *ngIf="teaser.figure">{{teaser.figure}}</p>
      </div>
      <p class="info" *ngIf="teaser.label">{{teaser.label}}</p>
      <a class="more" *ucpIsset="teaser.link">
        <include-components [elements]="teaser.link"></include-components>
      </a>
    </li>
  </ul>
</div>
