<div class="campaign-slideshow" [ngClass]="getSlideshowClass()">

  <p *ngIf="element.headlineHtml" class="headline" [ngClass]="getHeadlineClass()" [innerHtml]="element.headlineHtml"></p>

  <ucp-slider #slideshowSlider *ngIf="element" [element]="element" [showNavigation]="false" [showHeadline]="false" [loop]="true" [design]="1" [vertical]="false"
              [list]="element.slideList" [staytimePerSlide]="element.staytimePerSlide"
              [automateSliding]="true"></ucp-slider>

  <ul class="navigation" *ngIf="slider">
    <li *ngFor="let data of element.slideList; let i = index ">
      <a (click)="toggleVisiblePage(i)" class="toggleButtons" [class.active]="i == getActualPageFromSlider()">{{data.element.headline}}</a>
    </li>
  </ul>
</div>
