<!-- 03_02 CTA-Kit: Brochure order -->
<div class="cta-brochure-order">
  <h3 *ngIf="element.headlineHtml" class="headline" [innerHTML]="element.headlineHtml"></h3>

  <div class="pane-container">
    <div
      *ngIf="!element.startWithImage || element.startWithImage == false || (element.startWithImage && currentStep == 0)"
      class="pane" id="intro">
      <div class="pane-content">
        <figure *ucpIsset="element.image">
          <img *ngIf="element.image.source" [assetPath]="element.image.source" alt="{{element.image.altText}}"
               title="{{element.image.title}}"/>
        </figure>

        <p *ngIf="element.textHtml" class="intro-txt" [innerHTML]="element.textHtml">
        </p>
      </div>

      <button *ngIf="currentStep == 0" (click)="nextStep()" class="button" type="button">{{element.buttonText}}</button>
    </div>

    <div *ucpIsset="element.document && element.document.link" class="pane">
      <div class="pane-content">
        <figure *ngIf="element.document.image">
          <img *ngIf="element.document.image.source" [assetPath]="element.document.image.source"
               alt="{{element.document.image.altText}}"
               title="{{element.document.image.title}}"/>
        </figure>
        <include-components *ucpIsset="element.document.link" class="pdf-link"
                            [elements]="element.document.link"></include-components>
      </div>
    </div>

    <form *ngIf="currentStep > 0" [formGroup]="brochureOrderForm" (ngSubmit)="onOrder()" class="form">
      <div *ngIf="currentStep == 1" class="pane pane-separator " id="basic-info-form">
        <div class="pane-content">
          <div *ngIf="element.counterStepOne" class="step-bar">
            {{element.counterStepOne}}
          </div>

          <div *ngIf="element.formHeadlineHtml" class="subhead" [innerHTML]="element.formHeadlineHtml"></div>
          <div *ngIf="element.textStepOneHtml" class="row" [innerHTML]="element.textStepOneHtml">
          </div>

          <!-- generischer Ansatz -->
          <div class="row" [class.split-1of2]="nextField.type == 'input'" [class.selectbox]="nextField.type == 'select'"
               *ngFor="let nextField of getFieldsOfPage(element.inputFieldList, currentStep)">
            <ucp-input-field *ngIf="nextField.page == currentStep" [field]="nextField" [parentForm]="brochureOrderForm"
                             [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
          </div>

          <div class="row">
            <div class="info-txt">
              <p *ngIf="element.mandatoryField" [innerHTML]="element.mandatoryField">
              </p>
            </div>
          </div>

          <button (click)="nextStep()" *ngIf="element.buttonText" class="button" type="button">{{element.buttonText}}
          </button>
        </div>
      </div>

      <div *ngIf="currentStep == 2" class="pane pane-separator" id="address-form"
           data-next="newsletter">
        <div class="pane-content">
          <div *ngIf="element.counterStepTwo" class="step-bar">
            {{element.counterStepTwo}}
          </div>

          <div *ngIf="element.formHeadlineHtml" class="subhead" [innerHTML]="element.formHeadlineHtml"></div>


          <div *ngIf="element.textStepTwoHtml" class="row" [innerHTML]="element.textStepTwoHtml">
          </div>


          <!-- generischer Ansatz -->
          <div class="row" [class.split-1of2]="nextField.type == 'input'"
               *ngFor="let nextField of getFieldsOfPage(element.inputFieldList, currentStep)">
            <ucp-input-field *ngIf="nextField.page == currentStep" [field]="nextField" [parentForm]="brochureOrderForm"
                             [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
          </div>

          <div class="row">
            <div class="info-txt">
              <p *ngIf="element.mandatoryField" [innerHTML]="element.mandatoryField">
              </p>
            </div>
          </div>

          <div *ngIf="message" class="error-message hidden">{{message}}</div>

          <button *ngIf="element.buttonText" class="button" type="button" (click)="onOrder()">{{element.buttonText}}
          </button>
        </div>
      </div>
    </form>

    <form [formGroup]="newsletterForm" (ngSubmit)="onNewsletterSubscribe()" class="form">
      <div *ngIf="currentStep >= 3" class="pane  pane-separator" id="newsletter">

        <div class="pane-content" *ngIf="isButtonNewsletterClicked==false">

          <div class="row">
            <div *ngIf="element.newsletter.newsletterHeadlineHtml" class="subhead"
                 [innerHTML]="element.newsletter.newsletterHeadlineHtml"></div>
            <div *ngIf="element.newsletter.newsletterHtml" class="row" [innerHTML]="element.newsletter.newsletterHtml">
            </div>
            <label>
              <input type="checkbox" name="newsletter" formControlName="newsletter"/>
              <span *ngIf="element.newsletter.newsletterTermTextHtml" class="newsletter-check-txt"
                    [innerHTML]="element.newsletter.newsletterTermTextHtml">
            </span>
            </label>
            <div *ngIf="!isNewsletterValid() && newsletterForm.controls['newsletter'].dirty"
                 class="error-txt">
              <p class="error-txt">{{element.newsletter.newsletterDefaultErrorText}}</p>
            </div>
          </div>

          <button *ngIf="element.newsletter.newsletterButtonText" class="button" type="button"
                  (click)="onNewsletterSubscribe()">{{element.newsletter.newsletterButtonText}}
          </button>
        </div>
      </div>
    </form>

    <div *ngIf="currentStep >= 3 && isButtonNewsletterClicked==true" class="pane  pane-separator"
         id="thank-you-note">
      <div class="pane-content">
        <div *ngIf="element.confirmationHeadlineHtml" class="subhead"
             [innerHTML]="element.confirmationHeadlineHtml"></div>

        <div *ngIf="element.stepConfirmationTextHtml" class="row" [innerHTML]="element.stepConfirmationTextHtml">
        </div>

        <!-- Linklist module without text & headline -->
        <div *ngIf="element.linkList" class="linklist">
          <ul>
            <li *ngFor="let link of element.linkList">
              <include-components [elements]="link"></include-components>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
