<!-- 06_16 stage teaser-->
<div class="stage-teaser">

  <ng-container *ngIf="isAreaAEnabled()">
      <!-- Template with 1 or 2 teasers, the size of teaser depends on the number of teaser.
           Max. two teasers allowed. -->
      <div class="stage-teaser-grid template-a-1" *ngIf="element.teaser1List.length == 1">
        <div class="stage-teaser-item fullwidth">
          <include-components [elements]="element.teaser1List"></include-components>
        </div>
      </div>

      <div class="stage-teaser-grid template-a-2" *ngIf="element.teaser1List.length > 1">
        <div class="stage-teaser-item wide" *ngFor="let teaser of element.teaser1List">
          <include-components [elements]="[teaser]"></include-components>
        </div>
      </div>

      <!-- Template with three teasers -->
      <div class="stage-teaser-grid template-a-3" *ngIf="element.teaser2List1.length > 0 && element.teaser2List2.length > 0">
        <div class="stage-teaser-item wide">
          <include-components [elements]="element.teaser2List1"></include-components>
        </div>
        <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser2List2">
          <include-components [elements]="[teaser]"></include-components>
        </div>
      </div>

      <!-- Template with six teasers -->
      <div class="stage-teaser-grid template-a-6" *ngIf="element.teaser3List1.length > 1 && element.teaser3List2.length > 0">
        <div class="stage-teaser-item wide">
          <include-components [elements]="[element.teaser3List1[0]]"></include-components>
        </div>
        <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser3List2">
          <include-components [elements]="[teaser]"></include-components>
        </div>
        <div class="stage-teaser-item wide">
          <include-components [elements]="[element.teaser3List1[1]]"></include-components>
        </div>
      </div>

      <!-- Template with eight teasers -->
      <ng-container *ngIf="element.teaser4List1.length > 0 && element.teaser4List2.length > 0 && element.teaser4List3.length > 0">
        <div class="stage-teaser-grid template-a-1">
          <div class="stage-teaser-item fullwidth" *ngFor="let teaser of element.teaser4List1">
            <include-components [elements]="[teaser]"></include-components>
          </div>
        </div>
        <div class="stage-teaser-grid template-b-4">
          <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser4List2">
            <include-components [elements]="[teaser]"></include-components>
          </div>
        </div>
        <div class="stage-teaser-grid template-b-3b reversed">
          <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser4List3">
            <include-components [elements]="[teaser]"></include-components>
          </div>
          <div class="stage-teaser-item wide" *ngFor="let teaser of element.teaser4List4">
            <include-components [elements]="[teaser]"></include-components>
          </div>
        </div>
      </ng-container>
  </ng-container>

  <ng-container *ngIf="isAreaBEnabled()">
    <!-- Template with three teasers (Hero teaser) -->
    <div class="stage-teaser-grid template-b-3a" *ngIf="element.teaser6List1.length > 0 && element.teaser6List2.length > 0">
      <div class="stage-teaser-item wide" *ngFor="let teaser of element.teaser6List1">
        <include-components [elements]="[teaser]"></include-components>
      </div>
      <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser6List2">
        <include-components [elements]="[teaser]"></include-components>
      </div>
    </div>

    <!-- Template with three teasers (Mission Statement) -->
    <div class="stage-teaser-grid template-b-3b" *ngIf="element.teaser5List1.length > 0 && element.teaser5List2.length > 0">
      <div class="stage-teaser-item wide" *ngFor="let teaser of element.teaser5List1">
        <include-components [elements]="[teaser]"></include-components>
      </div>
      <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser5List2">
        <include-components [elements]="[teaser]"></include-components>
      </div>
    </div>

    <!-- Template with four teasers -->
    <div class="stage-teaser-grid template-b-4" *ngIf="element.teaser7List1.length > 0">
      <div class="stage-teaser-item normal" *ngFor="let teaser of element.teaser7List1">
        <include-components [elements]="[teaser]"></include-components>
      </div>
    </div>
  </ng-container>
</div>

