<div class="hotspot-module" (hide-hotspots)="hideAllHotspots($event)"
     (click)="hideAllHotspots($event)">
  <div class="hotspot-headline">
    <p class="category" *ngIf="element.category">
      {{element.category}}
    </p>

    <p class="headline" *ngIf="element.headlineHtml" [innerHTML]="element.headlineHtml">
    </p>
  </div>
  <div class="pattern">
    <div class="hotspot-container">
      <div class="background" *ucpIsset="element.image">
        <img [assetPath]="element.image.source" alt="{{element.image.altText}}" title="{{element.image.title}}"/>
      </div>
      <div class="hotspots" *ngIf="element.hotspotList">
        <include-components [elements]="element.hotspotList"></include-components>
      </div>
    </div>
  </div>
</div>
