<!-- Apps -->
<form [formGroup]="appsForm" (ngSubmit)="onSave()">

  <div class="theme-headline-container">
    <p [innerHTML]="element.headlineHtml"></p>

    <div class="controls">
      <a class="start-editview icon-tk-plus" (click)="switchToEditModus()">{{element.buttonEditText}}</a>
      <a *ngIf="editModus" (click)="onCancel()" class="cancel-editview icon-tk-close">{{element.buttonCancelText}}</a>
    </div>
  </div>


  <div class="content-area">
    <div id="app-container">
      <p class="no-content" style="display: none;"></p>
      <!-- START INSERT FAVORITE APPS -->
      <!-- END INSERT FAVORITE APPS -->


      <div class="content-item first" *ngFor="let app of myApps; let appIndex = index"
           [class.first]="appIndex % 4  == 0">
        <div class="item-wrapper">
          <label>
            <input *ngIf="editModus" name="source" type="checkbox" formControlName="{{app.name}}">
          </label>
          <a href="{{app.url}}" target="_blank">
            <img *ngIf="app.image.source" [assetPath]="app.image.source" alt="app.image.altText"
                 title="app.image.title"/>
            <span>{{app.label}}</span>
          </a>
        </div>
      </div>

    </div>

    <div class="button-wrapper" style="display: block;">
      <a *ngIf="!editModus" class="button1 add-app">{{element.buttonAddText}}</a>
      <!-- Inactive by Default -->
      <a *ngIf="editModus" class="button2 delete-item inactive" (click)="onDelete()">{{element.buttonDeleteText}}</a>
      <p class="legend">{{element.labelSecuredAccess}}</p>
    </div>

    <div class="app-overview">
      <a class="close-overview"><span>Close overview</span></a>
      <!-- Selectfield to Filter all APPS -->
      <div class="row">
        <ucp-input-field *ngIf="element.appCategoryField" [field]="element.appCategoryField" [parentForm]="appsForm"
                         [defaultErrorText]="element.appCategoryField.errorText"></ucp-input-field>


        <!-- App List -->
        <div id="app-list">
          <div class="item-wrapper">
            <!-- START INSERT ALL AVAILABLE APPS -->
            <!-- END INSERT ALL AVAILABLE APPS -->
          </div>
          <div class="load-more">
            <a href="">
              show more...
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
