<!-- 01.06 Press element -->
<div class="press-teaser">

    <div class="press-teaser__content">
      <div class="press-teaser__image-wrapper image-wrapper">
        <figure>
            <img class="image press-teaser__image" *ngIf="element.image" [assetPath]="element.image"/>
        </figure>
      </div>
      <div class="press-teaser__caption">

        <p class="press-teaser__info info" *ngIf="element.date">{{element.date | date: 'medium' }}</p>
        <p class="press-teaser__headline headline" *ngIf="element.headline">{{element.headline}}</p>
        <p class="press-teaser__pr-content" [innerHTML]="element.bodyHtml"></p>
        <!--<p class="press-teaser__link linktext" *ngIf="element.headlineDownload">{{element.headlineDownload}}</p>-->
      </div>
    </div>
    <a [routerLink]="element.target" class="overview more" *ucpIsset="element.link">{{ element.link }}</a>
</div>
