<!-- Press- and Mediacenter-Filter -->
<div class="filter press-overview">
  <p *ngIf="element.headlineHtml" class="headline" [innerHTML]="element.headlineHtml"></p>

  <form [formGroup]="form" (ngSubmit)="onSearch()" class="form filter__form">
    <div class="selects">
      <div *ngFor="let filterField of element.filterFieldList" class="row">
        <ucp-input-field (valueChange)="updateList()" [field]="filterField" [parentForm]="form"></ucp-input-field>
      </div>
    </div>

    <div class="search">
      <div>
        <ucp-input-field *ngIf="element.searchInputField" [field]="element.searchInputField"
                         [parentForm]="form" ngClass="search__input"></ucp-input-field>
      </div>
      <div class="search__submit">
        <button *ngIf="element.searchLabel" class="button arrow-icon_more icon-tk-arrow" type="button">
          {{element.buttonText}}
        </button>
      </div>

      <!-- TODO: trigger reset of both forms -->
      <a (click)="reset()" class="reset more">Reset</a>
    </div>
  </form>
  <include-components *ngIf="pressTeaserList; else noResults" [elements]="pressTeaserList"></include-components>

  <ng-template #noResults>
    <div class="no-results">{{element.labelNoResults}}</div>
  </ng-template>

  <div class="border" *ngIf="element.loadMore">
    <button (click)="loadMore()" class="load-more" type="button">{{element.loadMore}}</button>
  </div>
</div>
