<!-- 07.01 Accordion Container -->
<div class="accordion">
  <p *ngIf="element.headlineHtml" class="headline" [innerHTML]="element.headlineHtml"></p>

  <div class="border" *ngFor="let accordionItem of element.accordionElementList; let i = index">
    <p class="label" *ngIf="accordionItem.titleHtml" [class.ui-state-active]="isAccordionOpen(i)" (click)="toggleAccordion(i)" >

      <span [innerHTML]="accordionItem.titleHtml" [class.icon-tk-minus]="isAccordionOpen(i)" [class.icon-tk-plus]="!isAccordionOpen(i)"></span>
    </p>
    <div [hidden]="!isAccordionOpen(i)" class="pane">
      <div  class="paragraph"  ><!-- only h2 and h3 possible here -->
        <include-components *ngIf="accordionItem.contentElementList"
                            [elements]="accordionItem.contentElementList"></include-components>
      </div>
    </div>
  </div>
</div>
