<div class="countdown-teaser">

  <h3 *ngIf="element.headlineHtml" class="headline" [innerHtml]="element.headlineHtml"></h3>

  <div class="content-area">
    <div *ngIf="element.image" class="image-container">
      <img *ngIf="element.image" [assetPath]="element.image.source" alt="{{element.image.altText}}"
           title="{{element.image.title}}"/>
    </div>

    <div class="content-container">
      <div class="content-text">
        <h4 *ngIf="element.subheadlineHtml" [innerHtml]="element.subheadlineHtml"></h4>
        <div *ngIf="element.textHtml" [innerHtml]="element.textHtml"></div>
      </div>

      <div class="float-wrapper">

        <!-- Please keep the comments in the following blocks, otherwise a spare space appears and breaks the design -->
        <div *ngIf="displayedTime" class="countdown-container">

          <div class="days">
            <div class="amount">{{formatNumberToString(displayedTime.days)}}</div>
            <div class="label">{{element.globalDays}}</div>
          </div>

          <div class="separator">:</div>

          <div class="hours">
            <div class="amount">{{formatNumberToString(displayedTime.hours)}}</div>
            <div class="label">{{element.globalHours}}</div>
          </div>

          <div class="separator">:</div>

          <div class="minutes">
            <div class="amount">{{formatNumberToString(displayedTime.minutes)}}</div>
            <div class="label">{{element.globalMinutes}}</div>
          </div>
        </div>
        <include-components *ucpIsset="element.link" [elements]="element.link"></include-components>
      </div>
    </div>
  </div>
</div>
