<nav class="main-navigation mainnavi">
  <div class="menu-wrapper">
    <a (click)="toggleVisibility()" class="search"><span>Suche</span></a>

    <search-flyout [state]="searchbarVisibleState"></search-flyout>
    <a class="menu" (click)="showMenu()">
      <span>
        Menü
      </span>
    </a>


    <div class="navigation-content" [ngClass]="{'visible': this.menuVisible, 'submenu-visible': this.submenuVisible}">
      <ul class="main-navigation-items level-1">
        <li class="deeper-navi main-navigation-item level-1" *ngFor="let item of items">
          <a (click)="showSubmenu(item)"
             routerLinkActive="active">{{item.title}}</a>
        </li>
      </ul>

      <div class="main-navigation-submenu">
        <ng-container *ngFor="let item of items">
          <ng-container *ngIf="selectedNavigation && selectedNavigation == item">
            <span class="back-button" (click)="hideSubmenu()">zurück</span>

            <div class="parent">
                <p>Übersicht</p>
                <a [routerLink]="routerService.getRouteForContentId(item._id)">{{item.title}}</a>
            </div>

            <ul class="main-navigation-items level-2">
              <li class="main-navigation-item level-2" *ngFor="let subitem of selectedNavigation?.childNodes">
                <a [routerLink]="routerService.getRouteForContentId(subitem._id)"
                   routerLinkActive="active">
                  <div>
                    <img [assetPath]="'../assets.files/rs83439_d_3586_15_image_w460_h391_0x0_de'"
                         alt="Kurvige Treppen" width="87" height="60">
                    <span>{{subitem.title}}</span>
                    <span class="marketing">{{subitem._id}}</span>
                  </div>
                </a>
              </li>
            </ul>
          </ng-container>
        </ng-container>
      </div>

      <navigation-flyout class="main-navigation-flyout" (click)="selectedNavigation = []"
                         [subNavigation]="selectedNavigation">
      </navigation-flyout>
    </div>
  </div>
</nav>
