<div class="cta-callback">
  <h3 *ngIf="element.headlineHtml" class="headline" [innerHTML]="element.headlineHtml"></h3>

  <div class="pane-container">
    <figure *ucpIsset="element.image">
      <img [assetPath]="element.image.source" alt="{{element.image.altText}}" title="{{element.image.title}}"/>
    </figure>
    <!-- panes are all needed -->
    <div class="pane-content">
      <form *ngIf="currentStep > 0" [formGroup]="callBackServiceForm" (ngSubmit)="onCallBackService()">
        <!-- action contains url of webservice -->
        <div *ngIf="currentStep == 1" class="form pane-1">
          <div class="row">
            <div class="req label" [class.split-1of2]="nextField.type == 'input'"
                 [class.selectbox]="nextField.type == 'select'"
                 *ngFor="let nextField of element.inputFieldList">
              <ucp-input-field *ngIf="nextField.page == 1" [field]="nextField" [parentForm]="callBackServiceForm"
                               [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
            </div>
            <div class="info-txt">
              <p *ngIf="element.hintTextHtml" [innerHTML]="element.hintTextHtml"></p>
              <p *ngIf="element.mandatoryField" [innerHTML]="element.mandatoryField">
              </p>
            </div>

            <button *ngIf="element.buttonText" class="button" type="button" (click)="nextStep()">{{element.buttonText}}
            </button>
          </div>
        </div>
        <div *ngIf="currentStep == 2" class="pane-2">
          <div class="row">
            <div class="info-txt">
              <p *ngIf="element.stepTwoText" [innerHTML]="element.stepTwoText"></p>
            </div>
            <div class="row req label" [class.split-1of2]="nextField.type == 'input'"
                 [class.selectbox]="nextField.type == 'select'"
                 *ngFor="let nextField of element.inputFieldList">
              <ucp-input-field *ngIf="nextField.page == 2" [field]="nextField" [parentForm]="callBackServiceForm"
                               [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
            </div>
          </div>
          <div class="row">

            <div class="error-message" *ngIf="element.message">{{element.message}}
            </div>
            <button *ngIf="element.buttonText" class="button" type="button"
                    (click)="onCallBackService()">{{element.buttonText}}
            </button>
          </div>
        </div>

        <div *ngIf="currentStep >= 3" class="pane-3">
          <div class="row">
            <p *ngIf="element.stepThreeText" [innerHTML]="element.stepThreeText"></p>
          </div>
          <!-- Linklist module without text & headline -->
          <div class="linklist">
            <ul *ngIf="element.linkList">
              <li *ngFor="let link of element.linkList">
                <include-components class="link" [elements]="link"></include-components>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

