<!-- 07.13 Sitemap -->
<div class="sitemap">
  <div class="title">
    <h3 *ngIf="element.headlineHtml">{{element.headlineHtml}}</h3>

    <h1 *ngIf="element.subheadlineHtml">{{element.subheadlineHtml}}</h1>
  </div>

  <div *ngFor="let column of element.columnList; let i = index">
    <div class="col">
      <include-components class="headline" *ngIf="column.link"
                          [elements]="column.link"></include-components>
      <div *ngFor="let next of column.linkList">
        <ucp-sitemap-item [link]="next.link" [linkList]="next.linkList"></ucp-sitemap-item>
      </div>
    </div>
    <hr class="divider mid" *ngIf="(i+1) % 2 == 0">
    <hr class="divider big" *ngIf="(i+1) % 3 == 0">
  </div>
</div>
