<ng-container *ngIf="element.scrollbar">
  <div class="producttable table-container right clearfix">
    <div (mouseleave)="onMouseLeave()" class="clearfix"
         [ngClass]="{'comparison': element.productComparison, 'table-container': element.scrollbar || element.productComparison}">
      <h3 *ngIf="element.headlineHtml" [innerHtml]="element.headlineHtml"></h3>
      <ng-container *ngIf="element.scrollbar || element.productComparison">
        <ucp-table-fix [element]="content.fixedTable"></ucp-table-fix>
        <ucp-table-scrollable [element]="content.scrollableTable"
                              (rowHover)="setHighlightedLogicalRow($event)"></ucp-table-scrollable>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!element.scrollbar">
  <div (mouseleave)="onMouseLeave()" class="producttable table-container right clearfix view-desktop">
    <h3 *ngIf="element.headlineHtml" [innerHtml]="element.headlineHtml"></h3>
    <ucp-table-fix [element]="content.totalTable"></ucp-table-fix>
  </div>
  <div class="producttable right clearfix">
    <ucp-table-mobile [element]="content.totalTable" [headline]="element.headlineHtml"></ucp-table-mobile>
  </div>
</ng-container>
