<!-- 06_18 Multi-Content element -->
<!-- LESS File: image.less; JS File: multi-contentmodul.js -->
<div class="big-image-teasers">
  <div class="module-container">
    <div [ngClass]="setStyleOfFullElement()">
      <ng-container *wrapInComponentIfExists="element.link">
        <div class="imagewrapper">
          <div *ngIf="element.type == 'cinemagraph'" class="flixel videolink">
            <include-components [elements]="element.flixel"></include-components>
          </div>
          <div *ngIf="element.type == 'image'">
            <img *ucpIsset="element.image" [assetPath]="element.image.source"
                 alt="{{element.image.altText}}"
                 title="{{element.image.title}}"/>
          </div>
          <div class="text-box">
            <div [ngClass]="setStyle4TextBox()">
              <h3 *ngIf="element.headlineHtml" [innerHTML]="element.headlineHtml"></h3>
              <p *ngIf="element.copyTextHtml" [innerHTML]="element.copyTextHtml"></p>
              <span *ucpIsset="element.buttonText && element.link" class="button-transparent">
              {{element.buttonText}}
            </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ucpIsset="element.embeddedContent" class="videowrapper">
      <div class="video">
        <div class="wrapper">
          <include-components [elements]="element.embeddedContent"></include-components>
        </div>
      </div>
    </div>
  </div>
</div>
