<form [formGroup]="settingsForm" (ngSubmit)="onSaveSettings()" class="form">

  <div class="settings" *ngFor="let groupOfSettings of element.settingGroupList">
    <div *ngIf="groupOfSettings.headlineHtml" class="headline" [innerHTML]="groupOfSettings.headlineHtml"></div>
    <div *ngIf="groupOfSettings.sublineHtml" class="subline" [innerHTML]="groupOfSettings.sublineHtml"></div>


    <div class="pane">
      <div class="pane-content">

        <!-- generischer Ansatz -->
        <div class="row" *ngFor="let nextField of groupOfSettings.settingList"
             [class.selectbox]="nextField.type == 'select'">
          <ucp-input-field *ngIf="isVisible(nextField)" [field]="nextField" [parentForm]="settingsForm"
                           [defaultErrorText]="element.defaultErrorText"
                           (valueChange)="onValueChange($event)"></ucp-input-field>
        </div>

        <div class="row">
          <div class="info-txt">
            <p *ngIf="groupOfSettings.mandatoryField" [innerHTML]="groupOfSettings.mandatoryField">
            </p>
          </div>
        </div>

      </div>
    </div>


  </div>
  <button (click)="onSaveSettings()" *ngIf="element.buttonSaveText" class="button-save button-blue" type="button">
    {{element.buttonSaveText}}
  </button>
  <button (click)="onCancel()" *ngIf="element.buttonCancelText" class="button-clear button-grey" type="button">
    {{element.buttonCancelText}}
  </button>
</form>

