<!-- 14.01 CTA 5 Step config wizard -->
<div class="cta-config-wizard">
  <h3 class="headline" [innerHtml]="element.headlineHtml"></h3>

  <!-- HTML for stage view -->
  <div id="cta-config-state" *ngIf="inputStep == 0">
    <div class="state">
      <ul *ngIf="element.topicList">
        <li *ngFor="let topic of element.topicList | orderBy: 'topicPosition'; let i = index ">
          <a [ngClass]="{currentStepStyle: i <= currentStep}">{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- HTML for each pane -->
  <div id="cta-config-pane">
    <div class="pane config-pane">
      <p class="title">{{getTopic(currentStep)?.topicName}}</p>
      <ul *ngIf="element.productList">
        <li *ngFor="let attr of getTopic(currentStep)?.productAttributeList">
          <a *ngIf="attr.image" (click)="changeCurrentStep(attr.productAttributeId)">
            <img *ngIf="attr.image.source" [assetPath]="attr.image.source" alt="{{attr.image.altText}}"
                 title="{{attr.image.title}}"/>
          </a>
          <label>
            <span *ngIf="attr.image && attr.image.title">{{attr.image.title}}</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <form *ngIf="inputStep >= 1" [formGroup]="wizardForm" (ngSubmit)="onWizard()">
    <div class="pane-1" *ngIf="inputStep == 1">
      <div class="row">
        <p *ngIf="element.formHtml" [innerHTML]="element.formHtml"></p>
      </div>
      <div class="row selectbox">
        <!-- generischer Ansatz -->
        <div class="row" [class.split-1of2]="nextField.type == 'input'" [class.selectbox]="nextField.type == 'select'"
             *ngFor="let nextField of element.inputFieldList">
          <ucp-input-field *ngIf="nextField.page == inputStep" [field]="nextField" [parentForm]="wizardForm"
                           [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
        </div>
      </div>
      <div class="row">
        <div class="info-txt">
          <p *ngIf="element.mandatoryField">{{element.mandatoryField}}
          </p>
        </div>
      </div>
      <button *ngIf="element.button" (click)="nextStep()" class="button" type="button">{{element.button}}</button>
    </div>


    <div class="pane-2" *ngIf="inputStep == 2">
      <div class="row">
        <p *ngIf="element.formHtml" [innerHTML]="element.formHtml"></p>
      </div>

      <!-- generischer Ansatz -->
      <div class="row" [class.split-1of2]="nextField.type == 'input'"
           *ngFor="let nextField of element.inputFieldList">
        <ucp-input-field *ngIf="nextField.page == inputStep" [field]="nextField" [parentForm]="wizardForm"
                         [defaultErrorText]="element.defaultErrorText"></ucp-input-field>
      </div>

      <div class="row">
        <div class="info-txt">
          <p *ngIf="element.mandatoryField" [innerHTML]="element.mandatoryField">
          </p>
        </div>
      </div>

      <div class="row">
        <label>
          <input type="checkbox" name="agb" required="required" formControlName="privacy"/>
          <span *ngIf="element.privacyHtml" [innerHTML]="element.privacyHtml"></span>
        </label>

        <div *ngIf="!wizardForm.controls['privacy'].valid && element.defaultErrorText" class="error-txt">
          <p class="error">{{element.defaultErrorText}}</p>
        </div>
      </div>

      <div *ngIf="element.message" class="error-message">{{element.message}}</div>

      <button *ngIf="element.button2" class="button" type="submit" (click)="onWizard()">{{element.button2}}
      </button>

    </div>
    <input type="hidden" name="subject" value="fivestep"/>
  </form>


  <div *ngIf="inputStep >= 3" class="form pane-3">
    <div class="row">
      <p class="dark" *ngIf="element.dankeTextHtml" [innerHTML]="element.dankeTextHtml"></p>
      <p *ngIf="element.termText" [innerHTML]="element.termText"></p>
    </div>

    <!-- Linklist module without text & headline -->
    <ul *ngIf="element.linkList">
      <li *ngFor="let link of element.linkList">
        <include-components [elements]="link"></include-components>
      </li>
    </ul>
  </div>
</div>
