<div class="metanavi meta-navi">
  <ul class="accessibility-functions">
    <li>
      <div (click)="toggle($event)" class="fontsizeswap">
        <span *ngIf="configCollection.enlargeFont">{{configCollection.enlargeFont}}</span>
      </div>
      <div class="hotspot electricBlue text">
        <div class="wrapper" [@hotspotState]="visible" *ngIf="visible">
          <div class="content">
            <div class="fontsizeswap-tooltip">
              <span class="close" (click)="toggle()"></span>
              <!-- Different content for touch and no-touch devices -->
              <a href="#" class="fontsizeswap-tooltip-link">
                <p *ngIf="configCollection.zoomDesktop">{{configCollection.zoomDesktop}}</p>
                <p *ngIf="configCollection.zoom">{{configCollection.zoom}}
                  <span class="big"
                        *ngIf="configCollection.zoomCombination">{{configCollection.zoomCombination}}</span>
                </p>
                <span class="more" *ngIf="configCollection.more">{{configCollection.more}}</span>
                <include-components [elements]="configCollection.informationAccessibility"></include-components>
              </a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <a href="" class="colorswap">
        <span *ngIf="configCollection.encreaseContrast">{{configCollection.encreaseContrast}}</span>
      </a>
    </li>
  </ul>
  <a class="label" href="">
    <p *ngIf="configCollection.more">{{configCollection.more}}</p>
  </a>
  <ul class="metanavi-items" *ngIf="configCollection.linkList">
    <li *ngFor="let menuLink of configCollection.linkList">
      <include-components [elements]="menuLink"></include-components>
    </li>
  </ul>
</div>

