<div class="search-flyout" [@visibleState]="state">
  <div class="search-wrapper">
    <a class="close" (click)="resetSearch()">close</a>

    <div class="search-input">
      <form action="">
        <input autocomplete="off" type="text" [(ngModel)]="keyword"  (keyup)="performSearch()" name="query" placeholder="Geben Sie Ihren Suchbegriff ein"/>
      </form>
      <a class="search-submit" href="">search</a>
    </div>
    <div class="theme-autocomplete-wrapper" data-site="thyssen_steel_europe" *ngIf="results?.length">
      <div class="theme-suggestions-autocomplete">
        <!-- Suggestions from JS -->
        <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all">
          <li class="ui-menu-item" role="presentation" *ngFor="let result of results">
            <a [routerLink]="['/test', result._id]" (click)="resetSearch()" class="ui-corner-all" [innerHTML]="result.title"></a>
            <small style="font-size:smaller;color:#999">{{result._id}}</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
