<!-- 05.01 Contact -->
<div class="contact">
  <p *ngIf="element.headlineHtml" [innerHtml]="element.headlineHtml" class="headline"></p>
  <img *ucpIsset="element.contact.image" [assetPath]="element.contact.image.source"
       alt="{{element.contact.image.altText}}"
       title="{{element.contact.image.title}}"/>

  <div class="head">
    <p *ngIf="element.contact.overline" class="overline">{{element.contact.overline}}</p>

    <p *ngIf="element.contact.name" class="title">{{element.contact.name}}</p>

    <p *ngIf="element.contact.position" class="subtitle">{{element.contact.position}}</p>

    <p *ngIf="element.contact.contactcompany" class="company">{{element.contact.contactcompany}}</p>

    <p *ngIf="element.contact.bodyHtml" [innerHtml]="element.contact.bodyHtml" class="address"></p>
  </div>
  <div class="contactdata">
    <p *ngIf="element.contact.number">{{element.contact.numberLabel}}: {{element.contact.number}}</p>

    <p *ngIf="element.contact.faxnumber">{{element.contact.faxnumberLabel}}: {{element.contact.faxnumber}}</p>

    <p *ngIf="element.contact.mobilenumber">{{element.contact.mobilenumberLabel}}: {{element.contact.mobilenumber}}</p>

    <a *ngIf="element.contact.email" class="mail" [href]="element.contact.email">{{element.contact.emailLabel}}</a>
    <include-components *ucpIsset="element.contact.link" [elements]="element.contact.link"
                        class="website"></include-components>
    <div class="social">
      <a *ngIf="element.contact.profileXing" class="xing" target="_blank" [href]="element.contact.profileXing">{{element.contact.xingLabel}}</a>
      <a *ngIf="element.contact.profileLinkedin" class="linkedin" target="_blank" [href]="element.contact.profileLinkedin">{{element.contact.linkedinLabel}}</a>
      <a *ngIf="element.contact.profileBlog" class="blog" target="_blank" [href]="element.contact.profileBlog">{{element.contact.blogLabel}}</a>
      <a *ngIf="element.contact.profileTwitter" class="twitter" target="_blank" [href]="element.contact.profileTwitter">{{element.contact.twitterLabel}}</a>
    </div>
  </div>
  <p *ngIf="element.contact.text" class="info">{{element.contact.text}}</p>
</div>
