<thead>
<tr *ngFor="let row of rows.rowsHeaderVisible.content" >
  <th *ngFor="let cell of row.content" [attr.rowspan]="cell.parameters.rowspan" [attr.colspan]="cell.parameters.colspan"
      [innerHtml]="cell.content"></th>
</tr>
</thead>
<tbody>
<ng-container *ngFor="let row of rows.rowsBodyVisible.content; let i = index">
  <tr class="even" [ngClass]="{'rowspan-row': row.parameters.highestRowSpanInRow > 1, 'single-row': row.parameters.highestRowSpanInRow <= 1}">
    <td *ngFor="let cell of row.content; let j = index" [attr.rowspan]="cell.parameters.rowspanToggle == null ? (cell.parameters.rowspan ? cell.parameters.rowspan : 1) : cell.parameters.rowspanToggle" class="head footable-visible"
        [attr.colspan]="cell.parameters.colspan"
        (click)="onCellClick(i)" [ngClass]="{'footable-last-column': j == row.content.length - 1, 'footable-first-column': j == 0}">
      <span *ngIf="cell.parameters.isToggle == true" class='footable-toggle' [ngClass]="{'icon-tk-plus': !isCellToggled[i], 'icon-tk-minus': isCellToggled[i]}"></span>
      <span [innerHtml]="cell.content"></span>
    </td>
  </tr>
  <tr *ngIf="row.hideable && isCellToggled[i] == true" class="footable-row-detail">
    <td>
    <ucp-cell-hideable [element]="row.hideable"></ucp-cell-hideable>
    </td>
  </tr>
</ng-container>
</tbody>

