<!-- 03.04(14_04) CTA Call-us -->
<div *ucpIsset="element.phoneNumber || element.link" class="cta-call-us">
  <h3 class="headline" *ngIf="element.headlineHtml" [innerHTML]="element.headlineHtml"></h3>

  <div class="contact-form-link" *ucpIsset="element.link">
    <p *ngIf="element.textHtml" [innerHTML]="element.textHtml"></p>
    <div class="button">
      <a *ucpIsset="element.phoneNumber" href="tel:{{element.phoneNumber}}">
        <include-components class="cta-button" *ucpIsset="element.link" [elements]="element.link"></include-components>
      </a>
      <include-components class="cta-button" *ngIf="element.link && !element.phoneNumber" [elements]="element.link"></include-components>
    </div>
  </div>

  <a *ngIf="!element.link" class="contact-form-link">
    <p *ngIf="element.textHtml" [innerHTML]="element.textHtml"></p>
  </a>
</div>
